.editModal
  display: flex
  flex-direction: column
  gap: 1.5rem
  &__title
    font-size: 2.8rem
    color: #3C3C3C
  &__container
    display: flex
    gap: 3.5rem
    .imageEdit
      background: #E5E7EB
      border-radius: 50%
      padding: 3rem 2.8rem
      &__icon
        color: #9CA3AF
        font-size: 3rem
