@import "app/styles/abstracts/variables"


.layout
  width: 100%
  //height: 100vh
  background-color: $color-main-bg
  padding: 6rem 10rem
  main
    padding-top: 4rem
    //height: calc(100vh - #{$appHeader-height} - 12rem)
    width: 100%
    display: flex
    position: relative
    .page
      width: 100%
      margin-top: 7.4rem
      background-color: $color-main-bg
      margin-left: 4rem
