.organizations {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.organizations__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.organizations h2 {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2.4rem;
  color: rgb(45, 45, 45);
}

.filter {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.filter__search {
  background: #FFFFFF;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.3rem 2rem;
}
.filter__search i {
  color: #D6D6D6;
  font-size: 1.8rem;
}
.filter__select {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.filter__input {
  border: none;
  font-size: 1.6rem;
  outline: none;
}
.filter__input::placeholder {
  color: rgb(214, 214, 214);
}
.filter__settings {
  background: white;
  border-radius: 0.8rem;
  color: #D6D6D6;
  padding: 1rem 2rem;
}
.filter__settings i {
  font-size: 2.4rem;
}

.directions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.addProfile {
  background-color: #FFFFFF;
  width: 30rem;
  max-width: 80rem;
  display: flex;
  align-items: center;
  padding: 3rem;
  border-radius: 10px;
  align-self: flex-end;
  font-size: 1.8rem;
  cursor: pointer;
  gap: 2rem;
}
.addProfile i {
  color: #001C79;
}

.addDirections {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.addDirections .box {
  width: 30rem !important;
  display: flex !important;
  justify-content: flex-start !important;
}
.addDirections input, .addDirections select, .addDirections textarea {
  border: 2px solid rgb(210, 210, 210) !important;
  width: 25rem !important;
  margin-top: 10px;
}
.addDirections .button {
  width: 10rem;
  height: 6rem;
  align-items: center;
  align-self: center;
}

.direction {
  margin: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.direction__main {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.direction h2 {
  font-size: 2rem;
}
.direction ul {
  display: flex;
  font-size: 1.4rem;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem 3rem;
}
.direction ul li {
  display: flex;
  flex-direction: column;
}
.direction ul li span {
  font-size: 1.2rem;
}
.direction__link {
  align-self: flex-end;
  color: #001C79;
  font-size: 1.6rem;
  cursor: pointer;
}

.imagesContainer {
  width: 100%;
  margin-top: 10px;
  height: 200px;
}
.imagesContainer img {
  width: 100%;
}

.placeholder {
  margin-top: 10px;
  box-shadow: 0 0 5px 0;
  height: 200px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.placeholder i {
  color: grey;
  font-size: 5rem;
}

.aboutOtm {
  margin-top: 20px;
}
.aboutOtm h2 {
  font-size: 2rem;
}
.aboutOtm_box {
  width: 100% !important;
  display: flex;
  flex-direction: column;
}
.aboutOtm_box textarea {
  width: 100% !important;
  height: 60vh !important;
}
.aboutOtm_box button {
  align-self: flex-end !important;
  border: 1px solid #7F7F7F;
  color: #1E1E1E;
}
.aboutOtm_box button:hover {
  border: 1px solid;
}

.gallery {
  width: 100% !important;
}
.gallery__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gallery__box {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.gallery__container {
  width: 250px;
  height: 200px;
}
.gallery__container img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}
.gallery__placeholder {
  margin-top: 10px;
  height: 200px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.gallery__placeholder i {
  color: grey;
  font-size: 5rem;
}
.gallery__img {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 0;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.gallery__img h2 {
  color: red;
  padding: 1rem;
  cursor: pointer;
}

/*# sourceMappingURL=organizationProfile.module.css.map */
